.navbar {
    background-color: #4cd7fa;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    height: 70px;
    margin-bottom: 20px;
}

.logopic {
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.logosNtext {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.logopic img {
    max-width: 100px; /* Adjust this value to your preferred width */
    max-height: 60px; /* Adjust this value to your preferred height */
  }

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    gap: 10px;
}

.logout {
    border: none;
    text-align: center;
    margin-right: 10px;
    border-radius: 5px;
}

.logoutbutton {
    color: black;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 16px;
    margin-right: 10px;
}
/**
    * Bot page styling
    */
.startbutton {
    background-color: #38ec3e;
    color: white;
    border: solid 1px #38ec3e;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    height: 50px;
}

.stopbutton {
    background-color: #ff675c;;
    color: white;
    border: solid 1px #ff675c;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    height: 50px;
}

.botpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.titleText {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 8px;
    text-align: center;
}

.eventsearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.verticalInput {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputbox {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
}

.inputbox2 {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
}

.textlabel {
    font-size: 18px;
    font-weight: bold;
}

.statusText {
    font-size: 14px;
    font-weight: lighter;
}

.modernSubmitButton {
    background-color: #4cd7fa;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}

.eventInfoDiv {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.eventInfoLabels {
    margin: 5px;
    font-size: 17px;
    font-weight: bold;
}

.reservationInfoDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.reservetationDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.reservationInputs {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.startStopButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;

}

.consoleInputText {
    font-size: 16px;
    color: #666666;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.consoleMessages {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 5px;
}
button:hover {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    filter: brightness(80%);
}

button:disabled {
    cursor: not-allowed;
    filter: brightness(70%);
}